<div class="jumbotron p-3">
    <h1 class="bg-dark text-white text-center">Admin</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="table table-dark table-sm">
        <h4>Display List</h4>
        <app-display></app-display>
      </div>
    </div>
</div>
<table class="table table-dark table-sm">
    <tr>
        <th>User Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>City</th>
        <th>State</th>
        <th>Contact</th>
        <th>Password</th>
        <th>Confirm Password</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Saurabh</td>
        <td>Mehra</td>
        <td>Kanpur</td>
        <td>Uttar Pradesh</td>
        <td>9632541256</td>
        <td>Saurabh@123</td>
        <td>Saurabh@123</td>
        
    </tr>
</table>