<div class="container" >
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-3"><img src="assets/img/carpenter.jpg"></div>
        <div class="col-md-3"><img src="assets/img/electrician.jpg"></div>
        <div class="col-md-3"><img src="assets/img/mechanic.jpg"></div>
        <div class="col-md-3"><img src="assets/img/painter2.jpg"></div> 
    </div>
   
    <div class="row ">
        <div class="col-md-3 p-4"><img src="assets/img/plumber.jpg"></div>
        <div class="col-md-3 p-4"><img src="assets/img/rajmistri.jpg"></div>
        <div class="col-md-3 p-4"><img src="assets/img/tiles.jpg"></div>
        <div class="col-md-3 p-4"><img src="assets/img/carpenter.jpg"></div> 
    </div>
    <div class="row ">
        <div class="col-md-3 p-4"><img src="assets/img/tiles.jpg"></div>
        <div class="col-md-3 p-4"><img src="assets/img/rajmistri.jpg"></div>
        <div class="col-md-3 p-4"><img src="assets/img/plumber.jpg"></div>
        <div class="col-md-3 p-4"><img src="assets/img/painter2.jpg"></div> 
    </div>
</div>

