<div class="container" >
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-3"><img src="assets/img/carpenter.jpg"><h4 style="text-align: center;">Carpenter</h4></div>
        <div class="col-md-3"><img src="assets/img/electrician.jpg"><h4 style="text-align: center;">E;lectrician</h4></div>
        <div class="col-md-3"><img src="assets/img/mechanic.jpg"><h4 style="text-align: center;">Mechanic</h4></div>
        <div class="col-md-3"><img src="assets/img/painter2.jpg"><h4 style="text-align: center;">Painter</h4></div> 
    </div>
   
    <div class="row ">
        <div class="col-md-3 p-4"><img src="assets/img/plumber.jpg"><h4 style="text-align: center;">Plumber</h4></div>
        <div class="col-md-3 p-4"><img src="assets/img/rajmistri.jpg"><h4 style="text-align: center;">RajMishtri</h4></div>
        <div class="col-md-3 p-4"><img src="assets/img/tiles.jpg"><h4 style="text-align: center;">Tiles</h4></div>
        <div class="col-md-3 p-4"><img src="assets/img/carpenter.jpg"><h4 style="text-align: center;">Carpenter</h4></div> 
    </div>
    <div class="row ">
        <div class="col-md-3 p-4"><img src="assets/img/tiles.jpg"><h4 style="text-align: center;">Tiles</h4></div>
        <div class="col-md-3 p-4"><img src="assets/img/rajmistri.jpg"><h4 style="text-align: center;">Carpenter</h4></div>
        <div class="col-md-3 p-4"><img src="assets/img/plumber.jpg"><h4 style="text-align: center;">Plumber</h4></div>
        <div class="col-md-3 p-4"><img src="assets/img/painter2.jpg"><h4 style="text-align: center;">Painter</h4></div> 
    </div>
</div>

